.table-title {
  font-family: var(--font-family) !important;
  font-weight: 600;
  font-size: 20px !important;
  line-height: 100%;
  color: #333;
  margin: 0;
}
.table-refresh-btn {
  border: 1px solid #ececeb;
  border-radius: 8px !important;
  padding: 10px !important;
  width: 42px !important;
  height: 42px !important;
}
.table-add-btn {
  border-radius: 6px;
  padding: 10px 20px;
  width: 147px;
  height: 42px;
  min-height: 42px;
  background: var(--bg-color);
}
