.table-title {
  font-family: var(--font-family) !important;
  font-weight: 600;
  font-size: 20px !important;
  line-height: 100%;
  color: #333;
  margin: 0;
}
.table-refresh-btn {
  border: 1px solid #ececeb;
  border-radius: 8px !important;
  padding: 10px !important;
  width: 42px !important;
  height: 42px !important;
}
.table-add-btn {
  border-radius: 6px;
  padding: 10px 20px;
  width: 147px;
  height: 42px;
  min-height: 42px;
  background: var(--bg-color);
}

.ant-pagination .ant-pagination-item {
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12) !important;
  line-height: 1.8;
}

.ant-pagination .ant-pagination-item-active {
  border: none;
  line-height: 2;
}

.custom-pagination.ant-table-pagination {
  display: flex;
  align-items: center;
  width: 100%;
}

.custom-pagination .ant-pagination-total-text {
  margin-right: 0;
}

.custom-pagination .ant-pagination-prev {
  margin-left: auto;
}

.table-category-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
}

.table-category-btn-active {
  background-color: inherit;
  color: #3f4fff;
  border-color: #3f4fff;
}
