.app-layout {
  background-color: #f3f3f3;
}
.app-layout-header-user {
  cursor: pointer;
  gap: 8px;
  color: #4a5cff;
  opacity: 1;
}

.app-layout-header-user,
.app-layout-header-user-hovered,
.app-layout-header-user-hovered:hover,
.app-layout-header-user-hovered:active,
.app-layout-header-user-hovered:focus {
  cursor: pointer;
  margin-right: clamp(0px, 3vw, 12px);
  gap: 8px;
  color: #4a5cff;
}

.app-layout-header-user-hovered:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.menu-logo {
  overflow: hidden;
  flex: 0 0 auto;
}

@media screen and (max-width: 900px) {
  .menu-logo {
    display: none;
  }
  .app-layout-header-user {
    margin-right: 0;
  }
}
